USE [master]
GO
/****** Object:  Database [PhongKham]    Script Date: 8/22/2020 3:15:10 PM ******/
CREATE DATABASE [PhongKham]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhongKham', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PhongKham.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PhongKham_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PhongKham_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhongKham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhongKham]
GO
/****** Object:  Table [dbo].[Benh]    Script Date: 8/22/2020 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benh](
	[LoaiBenh] [nvarchar](50) NOT NULL,
	[TrieuChung] [nvarchar](max) NULL,
 CONSTRAINT [PK_Benh] PRIMARY KEY CLUSTERED 
(
	[LoaiBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenhNhan]    Script Date: 8/22/2020 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan](
	[CMND] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [tinyint] NULL,
	[SDT] [varchar](20) NULL,
	[DiaChi] [nvarchar](max) NULL,
 CONSTRAINT [PK_BenhNhan] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuotKham]    Script Date: 8/22/2020 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuotKham](
	[ID] [int] NOT NULL,
	[BenhNhan] [varchar](20) NULL,
	[NgayKham] [varchar](12) NULL,
	[Benh] [nvarchar](50) NULL,
	[TienThuoc] [float] NULL,
	[TienKham] [float] NULL,
 CONSTRAINT [PK_LuotKham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuotThuoc]    Script Date: 8/22/2020 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuotThuoc](
	[Thuoc] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[LuotKham] [int] NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_LuotThuoc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 8/22/2020 3:15:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[TenThuoc] [nvarchar](50) NOT NULL,
	[DonVi] [nvarchar](15) NULL,
	[CachDung] [nvarchar](max) NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_Thuoc] PRIMARY KEY CLUSTERED 
(
	[TenThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LuotKham]  WITH CHECK ADD  CONSTRAINT [FK_LuotKham_Benh] FOREIGN KEY([Benh])
REFERENCES [dbo].[Benh] ([LoaiBenh])
GO
ALTER TABLE [dbo].[LuotKham] CHECK CONSTRAINT [FK_LuotKham_Benh]
GO
ALTER TABLE [dbo].[LuotKham]  WITH CHECK ADD  CONSTRAINT [FK_LuotKham_BenhNhan] FOREIGN KEY([BenhNhan])
REFERENCES [dbo].[BenhNhan] ([CMND])
GO
ALTER TABLE [dbo].[LuotKham] CHECK CONSTRAINT [FK_LuotKham_BenhNhan]
GO
ALTER TABLE [dbo].[LuotThuoc]  WITH CHECK ADD  CONSTRAINT [FK_LuotThuoc_LuotKham] FOREIGN KEY([LuotKham])
REFERENCES [dbo].[LuotKham] ([ID])
GO
ALTER TABLE [dbo].[LuotThuoc] CHECK CONSTRAINT [FK_LuotThuoc_LuotKham]
GO
ALTER TABLE [dbo].[LuotThuoc]  WITH CHECK ADD  CONSTRAINT [FK_LuotThuoc_Thuoc] FOREIGN KEY([Thuoc])
REFERENCES [dbo].[Thuoc] ([TenThuoc])
GO
ALTER TABLE [dbo].[LuotThuoc] CHECK CONSTRAINT [FK_LuotThuoc_Thuoc]
GO
USE [master]
GO
